body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    color: #ff4081; /* Pink color */
    font-size: 24px;
    margin-top: 30px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: #2196F3; /* Blue color on hover */
    color: #FF0000; /* Red text color on hover */
    transform: scale(1.1);
}

#yesBtn {
    transition: transform 0.3s ease-in-out;
}

.love-message {
    font-size: 18px;
    margin-top: 50px;
    font-family: 'Pacifico', cursive; /* Fancy font */
}
