body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
}

.container {
    text-align: center;
}

.title {
    color: #ff4081; /* Pink color */
    font-size: 24px;
}

.top-title {
    margin-top: 30px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: #2196F3; /* Blue color on hover */
    color: #FF0000; /* Red text color on hover */
    transform: scale(1.1);
}

#yesBtn {
    transition: transform 0.3s ease-in-out;
}

.love-message {
    font-size: 18px;
    font-family: 'Pacifico', cursive; /* Fancy font */
    color: #ff69b4; /* Fancy color */
}

.bottom-message {
    margin-top: 20vh; /* Adjusted margin */
}

.flower-rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: flowerRain 5s linear infinite;
}

@keyframes flowerRain {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

.flower-rain::after {
    content: '🌸'; /* Flower emoji */
    font-size: 20px;
    position: absolute;
    top: 0;
    animation: fall 0.5s linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(100vh);
        opacity: 1;
    }
}
